@font-face {
    font-family: 'pipelight_italic';
    src: url('../fonts/pipe-light-italic-webfont.eot');
    src: url('../fonts/pipe-light-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pipe-light-italic-webfont.woff2') format('woff2'), url('../fonts/pipe-light-italic-webfont.woff') format('woff'), url('../fonts/pipe-light-italic-webfont.ttf') format('truetype'), url('../fonts/pipe-light-italic-webfont.svg#pipelight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pipelight';
    src: url('../fonts/pipe-light-webfont.eot');
    src: url('../fonts/pipe-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pipe-light-webfont.woff2') format('woff2'), url('../fonts/pipe-light-webfont.woff') format('woff'), url('../fonts/pipe-light-webfont.ttf') format('truetype'), url('../fonts/pipe-light-webfont.svg#pipelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pipemedium_italic';
    src: url('../fonts/pipe-medium-italic-webfont.eot');
    src: url('../fonts/pipe-medium-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pipe-medium-italic-webfont.woff2') format('woff2'), url('../fonts/pipe-medium-italic-webfont.woff') format('woff'), url('../fonts/pipe-medium-italic-webfont.ttf') format('truetype'), url('../fonts/pipe-medium-italic-webfont.svg#pipemedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pipemedium';
    src: url('../fonts/pipe-medium-webfont.eot');
    src: url('../fonts/pipe-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pipe-medium-webfont.woff2') format('woff2'), url('../fonts/pipe-medium-webfont.woff') format('woff'), url('../fonts/pipe-medium-webfont.ttf') format('truetype'), url('../fonts/pipe-medium-webfont.svg#pipemedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signes';
    src: url('../fonts/Signes-Light.woff2') format('woff2'), url('../fonts/Signes-Light.woff') format('woff'), url('../fonts/Signes-Light.otf') format('truetype');
    font-weight: light;
    font-style: normal;
}